extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.users.editPage.header')
  +formFor()(action=`/users/${user.id}` method='post')
    +floatingFormInput(user, 'firstName', errors, t('views.users.editPage.firstName'))(type="text")
    +floatingFormInput(user, 'lastName', errors, t('views.users.editPage.lastName'))(type="text")
    +floatingFormInput(user, 'email', errors, t('views.users.editPage.email'))(type="text")
    +floatingFormInput(user, 'password', errors, t('views.users.editPage.password'))(type="text")
    input(name="_method" type="hidden" value="patch")
    +submit(status)(value=t('views.users.editPage.submit'))