extends ../layouts/application.pug

block header
  h1.display-4.fw-bold= t('views.users.new.header')
  
block content
  .row.justify-content-center
    .col-12.col-md-8
      .card.shadow-sm
        .card-body.row.p-5
          .col-12.col-md-6.d-flex.align-items-center.justify-content-center
            img.rounded-circle(src=assetPath('assets/images/avatar.jpg'))
          .col-12.col-md-6.mt-3.mt-mb-0
            +formFor()(action=route('users') method='post')
              +floatingFormInput(user, 'firstName', errors, t('views.users.entities.firstName'))(type="text")
              +floatingFormInput(user, 'lastName', errors, t('views.users.entities.lastName'))(type="text")
              +floatingFormInput(user, 'email', errors, t('views.users.entities.email'))(type="text")
              +floatingFormInput(user, 'password', errors, t('views.users.entities.password'))(type="password")
              +submit(user)(value=t('views.users.entities.submitRegister'))