extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.labels.new.header')
  +formFor()(action=route('createLabel') method='post')
    +floatingFormInput(label, 'name', errors, t('views.labels.new.name'))(type="text")
    +submit(status)(value=t('views.labels.new.submit'))