extends ../layouts/application.pug

block header
  h1.display-4.fw-bold= t('views.session.new.signIn')

block content
  .row.justify-content-center
    .col-12.col-md-8
      .card.shadow-sm
        .card-body.row.p-5
          .col-12.col-md-6.d-flex.align-items-center.justify-content-center
            img.rounded-circle(src=assetPath('assets/images/avatar.jpg'))
          .col-12.col-md-6.mt-3.mt-mb-0
            +formFor()(action=route('session') method='post')
              +floatingFormInput(signInForm, 'email', errors, t('views.session.new.email'))(type="text")
              +floatingFormInput(signInForm, 'password', errors, t('views.session.new.password'))(type="password")
              +submit(signInForm)(value=t('views.session.new.submit'))